# Ignore environments and containers that are created
image/TRecNetContainer.sif
image/*.sif
TRecNet_env/

# Ignore all configs, except for the example ones
config/prep/*
!config/prep/examples
config/ml/*
!config/ml/examples
config/plotting/*
!config/plotting/examples

# Ignore latex compilation files for the diagrams
diagrams/*/*.log
diagrams/*/*.aux
diagrams/*/*.gz

# Ignore all plots directories produced, except for the example plot directory
plots/*
!plots/example_plots/

# Ignore all scripts, except for the example ones
scripts/*
!scripts/examples

# Ignore newly trained models, unless specified here
trained_models/

# Other things to ignore
__pycache__/
.ipynb_checkpoints/
.tensorboard_logs/
.vscode/
tensorboard_logs/