__pycache__/
.ipynb_checkpoints/
.tensorboard_logs/
.vscode/
tensorboard_logs/
env/TRecNet_env/
image/TRecNetContainer.sif
config/plotting/my_configs
scripts/my_scripts/
image/*.sif
trained_models/
diagrams/*/*.log
diagrams/*/*.aux
diagrams/*/*.gz
plots/*
!plots/example_plots/
TRecNet_env/